$color-light: #fff;
$color-dark: #333;
$color-main: #BEA67c;
$color-darker: rgb(158, 132, 84);
$color-gray: rgb(116, 116, 116);


$font-header: 'Source Sans Pro', sans-serif;

$photo-one: url('../images/coffee-1.png');
$photo-two: url('../images/coffee-2.png');
$photo-three: url('../images/coffee-3.png');